@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:ital@0;1&display=swap');

.button-qty-cart {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0)!important;
    color: #56B280 !important;
    border: 0px !important;
}

.button-container-cart {
    width: 120px !important; 
    border: 1px #56B280  solid; 
    font-family: 'Poppins', sans-serif;
    margin-left: 0px !important;
}

.button-sel-cart {
    width: 5px !important;
}