.h5 {
    color: #56B280
  }
  
  .links {
    color: black !important;
  }
  
  .background {
    background-color: #F2F2F2;
    padding-top: 40px;
  }
  
  .hr {
    color: #56B280;
    width: 90%;
    text-align: center;
    margin: auto;
  }
  
  .logo-footer {
    width: 268px;
     height: 82px;
  }

  @media screen and (max-width: 575px ) {
    .logo-footer {
      width: 268px;
       height: 82px;
    }
    .info-col {
      margin-top: 30px !important;
    }
  }