@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.card-container {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.single-card {
    box-shadow: 10px 10px 30px lightgrey ; 
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    height: 27rem;
    margin-top: 50px;
    align-content: center;
}

.product-name {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.price {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .single-card {
        box-shadow: 10px 10px 30px lightgrey ; 
        margin-right: 7px;
        margin-left: 7px;
        width: auto;
        height: 25rem;
        margin-top: 50px;
        align-content: center;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .single-card {
        box-shadow: 10px 10px 30px lightgrey ; 
        margin-right: 5px;
        margin-left: 5px;
        width: auto;
        height: 23rem;
        margin-top: 50px;
        align-content: center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .single-card {
        box-shadow: 10px 10px 30px lightgrey ; 
        margin-right: 5px;
        margin-left: 5px;
        width: auto;
        height: 23rem;
        margin-top: 30px;
        align-content: center;
    }
}
@media screen and (max-width: 767px) {
    .single-card {
        box-shadow: 10px 10px 30px lightgrey ; 
        margin-right: 5px;
        margin-left: 5px;
        width: auto;
        height: 40rem;
        margin-top: 30px;
        align-content: center;
    }
}